<po-page-default p-title="Novo produto" [p-actions]="customPageActions">
  <form [formGroup]="productForm">
    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-input
        [(ngModel)]="product.name"
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="name"
        name="name"
        p-label="Nome"
      >
      </po-input>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-input
        [(ngModel)]="product.price"
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="price"
        name="price"
        p-label="Preço (R$)"
      >
      </po-input>
    </div>
  </form>
</po-page-default>
